
<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <a (click)="goToMain()" class="skip">Skip</a>
    <img src="../../assets/nota.png" class="img">
    <h2>Hey! Welcome into DAWAFY...</h2>
  </ion-slide>
  <ion-slide>
    <a (click)="goToMain()" class="skip">Skip</a>
    <img src="../../assets/clave.png" class="img">
    <h2>We have excellent choices for you...</h2>
  </ion-slide>
  <ion-slide>
    <a (click)="goToMain()" class="skip">Skip</a>
    <img src="../../assets/spoti.png" class="img">
    <h2>Enjoy our App <a (click)="goToMain()">Next</a></h2>
  </ion-slide>
</ion-slides>
